# If you private keys contains a passphrase, this will fail.
# You need to provide the passphrase to age via the following env var:
# read -s SSH_TO_AGE_PASSPHRASE; export SSH_TO_AGE_PASSPHRASE

SSH_KEY_PATH=~/.ssh/id_ed25519

export SOPS_AGE_KEY=$(ssh-to-age -i $SSH_KEY_PATH -private-key)

# Custom made, this is not officialy supported by sops...
export SOPS_AGE_PUBLIC_KEY=$(ssh-to-age -i $SSH_KEY_PATH.pub)
