window {
  margin: 0px;
  border: 2px none @fgColor@;
  border-width: 1px;
  background-color: @bgColor@;
  border-radius: 7px;
}

#input {
  padding: 4px;
  margin: 4px;
  padding-left: 20px;
  border: none;
  border-width: 1px;
  color: @fgColor@;
  font-family: "Maple Mono NF";
  font-size: 16px;
  font-weight: bold;
  background-color: none;
  /* background: ; */
  outline: none;
  border-radius: 7px;
  margin: 10px 13px;
  margin-bottom: 2px;
}
#input:focus {
  border: 0px solid transparent;
  margin-bottom: 0px;
}

#inner-box {
  margin: 4px;
  border: 4px solid transparent;
  color: @fgColor@;
  font-weight: normal;
  background-color: transparent;
  border-radius: 7px;
}

#outer-box {
  margin: 0px;
  border: 0px solid @fgColor@;
  border-radius: 7px;
  background-color: @bgColor@;
}

#scroll {
  background-color: transparent;
  margin-top: 5px;
  border: none;
  border-radius: 7px;
  margin-bottom: 5px;
}

#img {
  margin-right: 10px;
}

#img:selected {
  background-color: @fgColor@;
  margin-right: 10px;
  border-radius: 7px;
}

#img:unselected {
  background-color: transparent;
  margin-right: 10px;
  border-radius: 7px;
}

#text:selected {
  color: @fgColor@;
  margin: 0px 0px;
  border: none;
  border-color: @mgColor@;
  border-width: 1px;
  border-radius: 7px;
  background-color: transparent;
}

#text:unselected {
  color: @fgColor@;
  margin: 0px 0px;
  border: none;
  border-color: @mgColor@;
  border-width: 1px;
  border-radius: 7px;
  background-color: transparent;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 7px;
  background-color: transparent;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 7px;
  background-color: transparent;
}
